<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        {% if title %}
        <title>Challenges | {{ title }}</title>
        {% else %}
        <title>Challenges</title>
        {% endif %}
        <!--        bootstrap css link-->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{% url 'challenges' %}">MySite</a>

                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#mainNavbar"
                    aria-controls="mainNavbar"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'challenges' %}">Challenges</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="{% url 'challenges' %}">Challenges</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block content %} {% endblock %}
    </body>
</html>
